html
  head
    title Heys
    link(type="text/css",rel="stylesheet", href="css/style.css")
  body
    section#navbar1
      div.nav
        ul(style="text-align:center;")#menu
          li(style="display: inline; margin: 10px;"): a(href="www.facebook.com") Facebook
          li(style="display: inline; margin: 10px;"): a(href="#home") Home
          li(style="display: inline; margin: 10px;"): a(href="#message")!= message
    section#sidebar
      div.sidebar
        ul#menu-sidebar
          li: Test Sidebar
          li: img(src="http://screenshots.en.sftcdn.net/en/scrn/332000/332783/java-for-os-x-02-402x535.png")